body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #98D2C0;
  color: #31326F;
}

/* Header */
header {
  background-color: #31326F; /* Dark Purple*/
  color: white;
  text-align: center;
  padding: 15px 20px;
}

/* Main content */
main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* Section headings */
h2 {
  color: #31326F; /* Dark purple */
  margin-bottom: 10px;
}

/* Contact Info */
.contact-info p {
  margin: 8px 0;
  font-size: 16px;
}

.contact-info i {
  color: #31326F;
  margin-right: 8px;
}

/* Form */
.contact-form {
  margin-top: 30px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  margin-top: 15px;
  padding: 12px;
  background: #31326F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #31326F;
}

/* Social Icons */
.socials {
  margin-top: 40px;
  text-align: center;
}
/* Social media icons*/
.social-icons a {
  color: #31326F;
  margin: 0 10px;
  font-size: 22px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #31326F;
}

/* Footer */
footer {
  background: #4FB7B3;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
/*Navigation design*/
nav {
  background-color: #31326F; /* Dark purple */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

nav .logo {
  font-size: 22px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffb86b; /* Highlight on hover */
}